html {
  background-color: #FAEDB1;
}

.App {
  text-align: center;

}

.loginBox {
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 150px;
}

.homePage {
  text-align: center;
  background-color: white;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 100px;
}

#compl table{
	margin: auto;
	margin-bottom: 20px;
  background-color: white;
}

.botones {
  background-color: #7C6354;
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
}

.nav ul{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 1rem;

}

.asgBotones {
  margin-top: 20px;
}

#cancelBtn{
  margin-top: 30px;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#assg table{
	margin: auto;
	margin-bottom: 20px;
  background-color: white;
}

#compl {
  text-align: center;
  margin-top: 40px;
}

#compl table{
	margin: auto;
  margin-top: 30px;
	margin-bottom: 20px;
  background-color: white;
}

.styled-table thead tr {
	background-color: #7C6354;
	color: #ffffff;
	text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #7C6354;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

#createComplaint {
  text-align: center;
  background-color: white;
  margin: auto;
  width: 600px;
  border: 3px solid black;
  padding: 10px;
  margin-top: 100px;
}

#createComplaint form label{
  margin-left: 30px;
}

#createComplaint button {
  margin-top: 30px;
}

#hwSubmission{
  text-align: center;
}

